# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Sonita\Documents\KU_Leuven\Subjects\2022-1\Modern Data Analytics\4. Project\App\heroku\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
